/* used colors are: #222 #eee*/
* {
    margin: 0;
    padding: 0;
}

body {
    background: #4d2d06;
    font-family: Georgia, Times, serif;
    color: #fff;
    text-align: center;
    font-size: 50px;    
}

.box-1 {
    background-color: black;
    border-bottom: .2em solid #4d2d06;
}

.box-2 {
    background-color: white;
    color: black;
    border-bottom: .2em solid #4d2d06;
}

.box-3 {
    background-color: white;
    color: black;
}    

p {
    font-size: 40px;
}